
.input {
    width: 300px;
    border-radius: 20px;
    border-style: solid;
    border-color: grey;
}

input:focus-visible {
    outline: 0px;
}

input:hover {
    border-color: black;
}

.button {
    margin: auto;
}

#tophf {
    visibility: hidden;
}

.span-advanced {
    width: 200px;
}