{% extends "auctions/layout.html" %}

{% block body %}
    <div class="d-flex m-2">
        <ul class="nav flex-column nav-underline">
            {% for category in categories %}
                <li class="nav-item fs-5">
                    <a class="nav-link{% if category.category == current_category %} active {% endif %}" aria-current="page" href={% url 'category_items' category.category %}>{{ category.category }}</a>
                </li>
            {% endfor %}
        </ul>
        {% for category_item in category_items %}

            <div class="d-flex ms-4 m-2">
                <img src="{{ category_item.image }}" alt="{{ category_item.title }}" width="400">
                <div class="d-flex flex-column m-2">
                    <a href={% url 'listing' category_item.id %} class="fs-4 fw-bold m-2">{{ category_item.title }}</a>
                    <div class="fs-5 m-2">Descripion: {{ category_item.description }}</div>
                    <div class="m-2">Category: {{ category_item.category }}</div>
                    <div class="fs-5 fw-bold m-2">Price $: {{ category_item.price }}</div>
                    <div class="text-body-tertiary m-2">Created: {{ category_item.created }}</div>
                    <div class="m-2">Listed by: {{ category_item.owner }}</div>
                </div>
            </div>    

        {% endfor %}

    </div>
{% endblock %}