{% extends "auctions/layout.html" %}

{% block body %}

        <div class="d-flex">
            <img src="{{ listing.image }}" alt="{{ listing.title }}" style="min-width:400px; max-width:0;">
            <div class="d-flex flex-column m-2">
                <a href={% url 'listing' listing.id %} class="fs-4 fw-bold m-2">{{ listing.title }}</a>
                <div class="fs-5 m-2">Descripion: {{ listing.description }}</div>
                <div class="m-2">Category: {{ listing.category }}</div>
                <div class="fs-5 fw-bold m-2">Price $: {{ listing.price }}</div>
                <div class="text-body-tertiary m-2">Created: {{ listing.created }}</div>
                <div class="m-2">Listed by: {{ listing.owner }}</div>
            </div>
        </div>


{% endblock %}