{% extends "auctions/layout.html" %}

{% block body %}
    <div class="card shadow container">
        <div class="card-body d-flex">
            <img src="{{ listing.image }}" alt="{{ listing.title }}" style="min-width:400px; max-width:0;">
            <div class="d-flex flex-column m-2 align-items-start">
                <a href={% url 'listing' listing.id %} class="fs-4 fw-bold m-2">{{ listing.title }}</a>
                <div class="fs-5 m-2 mb-3">Descripion: {{ listing.description }}</div>

                {% if user.is_authenticated %}
                    {% if not watchlist %}
                        <form action="{% url 'update_watchlist' listing.id %}" method="post" class="d-flex flex-column align-items-start">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-outline-dark">Add to watchlist</button>
                        </form>
                    {% else %}
                        <form action="{% url 'update_watchlist' listing.id %}" method="get" class="d-flex align-items-center">
                            {% csrf_token %}
                            <span class="badge bg-secondary fs-5 py-2 m-2">Watchlist</span>
                            <button type="submit" class="btn btn-outline-dark">Remove</button>
                        </form>
                    {% endif %}
                {% endif %}

                <div class="m-2 mt-3">Category: {{ listing.category }}</div>
                <div class="fs-5 fw-bold m-2">Price $: {{ listing.price }}</div>
                <div class="text-body-tertiary m-2">Created: {{ listing.created }}</div>
                <div class="m-2">Listed by: {{ listing.owner }}</div>
            </div>
        </div>
    </div>

{% endblock %}