{% extends "auctions/layout.html" %}

{% block body %}
    {% for watchitem in watchlist %}
        <div class="card shadow container my-4">
            <div class="card-body d-flex">
                <img src="{{ watchitem.listing.image }}" alt="{{ watchitem.listing.title }}" style="min-width:400px; max-width:0;">
                <div class="d-flex flex-column m-2">
                    <a href={% url 'listing' watchitem.listing.id %} class="fs-4 fw-bold m-2">{{ watchitem.listing.title }}</a>
                    <div class="fs-5 m-2">Descripion: {{ watchitem.listing.description }}</div>
                    {% comment %} <div class="m-2">Category: {{ watchitem.category }}</div> {% endcomment %}
                    <div class="fs-5 fw-bold m-2">Price $: {{ watchitem.listing.price }}</div>
                    {% comment %} <div class="text-body-tertiary m-2">Created: {{ watchitem.created }}</div>
                    <div class="m-2">Listed by: {{ watchitem.owner }}</div> {% endcomment %}
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}