{% extends "petclinic/layout.html" %}

{% block body %}

    <div class="mt-4">

        {% if message %}
            <div class="ms-3 text-danger fs-5">{{ message }}</div>
        {% endif %} 

        <form action="{% url 'add_pet' %}" method="post" class="container d-flex flex-column align-items-center">
            {% csrf_token %}</input>

            <div class="d-flex align-items-center">
                                
                <div class="input-group mb-4 mx-3">
                    <span class="input-group-text" id="addon1">Select icon of your pet</span>
                    <select class="form-select fs-4" aria-label="Default select example" name="icon">
                        {% for icon in icons %}
                            <option value={{ icon }} class="text-center fs-4">{{ icon }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group mb-4 mx-3">
                    <input class="form-control" autofocus type="text" name="nickname" placeholder="Nickname">
                </div>

            </div>

            <div class="input-group mb-4 mx-3 w-auto"> 
                <span class="input-group-text" id="addon2">Select your pet type</span>
                <select class="form-select" aria-label="Default select example" name="pet_type">
                    <option selected value="other">Other</option>
                    {% for type in types %}
                        <option value={{ type }} >{{ type }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="input-group mb-4 mx-3 w-auto">
                <span class="input-group-text" id="addon3">Select your pet's birth date</span>
                <input class="form-control" type="date" name="birth_date" label="Birth date">
            </div>

            <div class="form-group mb-4">
                <textarea type="text" name="details" class="form-control" rows="4" placeholder="Details"></textarea>
            </div>

           
            <input class="btn btn-success mb-4" type="submit" value="Add Pet" />
                
        </form>

    </div>
    
{% endblock %}