{% extends "petclinic/layout.html" %}

{% block body %}

    
    <div class="mt-3">
        {% if user.is_authenticated %}

            <div class="ms-3 mb-3 text-danger fs-5" id="message"></div>

            <script>
                  
            </script>

            <form action="{% url 'index' %}" method="post" class="container d-flex flex-column align-items-center">
                {% csrf_token %}

                <div class="input-group text-center mb-4 w-auto">
                    <span class="input-group-text">Select you pet</span>
                    <select class="form-select" name="pet" value="{{ pet }}" id="pet">
                        {% for pet in pets %}
                        <option value={{ pet.id }}>{{ pet.icon }} {{ pet.nickname }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-4 mx-3 w-auto"> 
                    <span class="input-group-text">Select the reason of your visit</span>
                    <select class="form-select" name="type_visit" id="type_visit">
                        {% for type_option in type_visit_options %}
                            <option value={{ type_option }} {% if type_option == type_visit %} selected {% endif %}>
                                {{ type_option }}
                            </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-group mb-4 mx-3 w-auto">
                    <span class="input-group-text">Select the date of your visit</span>
                    <input class="form-control" type="date" name="date_visit" id="date_visit"
                        min={{ tomorrow|date:"Y-m-d" }} value="{{ date_visit|date:"Y-m-d" }}">
                </div>

                <button class="btn btn-outline-success mb-4" id="show-times">
                    Show me the times
                </button>

                    <div class="form-check px-0" id="time-slot">
                        <span class="input-group-text mb-2 justify-content-center">Select the time of your visit</span>
                        <div class="radios ms-4">
                        {% for time_visit in time_visits %}
                            <div class="mb-2">
                                <input class="form-check-input" type="radio" name="time_visit" id="{{ time_visit }}" value="{{ time_visit }}">
                                <label class="form-check-label" for="flexRadioDefault1">
                                    {{ time_visit }}
                                </label>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                    <button class="btn btn-success mt-3" id="submit-visit">
                        Submit my visit
                    </button>


            </form>

        {% else %}

            <div class="d-flex flex-column m-4 text-center">

                <div class="mt-4 fs-5">
                    We will care about your pet/s in our clinic!
                </div>
                <div class="my-4 fs-5">
                    To select the dates, price and details please login or register.
                </div>

                <div class="m-2">
                    Already have an account? 
                    <a href="{% url 'login' %}" class="ms-2">Log In here.</a>
                </div>

                <div class="m-2">
                    Don't have an account?  
                    <a href="{% url 'register' %}" class="ms-2">Register here.</a>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}