{% extends "petclinic/layout.html" %}

{% block body %}

    <div id="indexapp"></div>

    <script type="text/babel">

        function App() {

            return (
                    <div>
                        {% if user.is_authenticated %}

                            <div>
                                Index
                            </div>

                        {% else %}

                            <div className="d-flex flex-column m-4 text-center">

                                <div className="mt-4 fs-5">
                                    We will care about your pet/s in our nursery!
                                </div>
                                <div className="my-4 fs-5">
                                    To select the dates, price and details please login or register.
                                </div>

                                <div className="m-2">
                                    Already have an account? 
                                    <a href="{% url 'login' %}" className="ms-2">Log In here.</a>
                                </div>

                                <div className="m-2">
                                    Don't have an account?  
                                    <a href="{% url 'register' %}" className="ms-2">Register here.</a>
                                </div>
                            </div>

                        {% endif %}
                    </div>
                );

        }

        ReactDOM.render(<App />, document.querySelector("#indexapp"));
    </script>

{% endblock %}