{% extends "petclinic/layout.html" %}

{% block body %}

    
    <div>
        {% if user.is_authenticated %}

            <div>
                Index
            </div>

        {% else %}

            <div class="d-flex flex-column m-4 text-center">

                <div class="mt-4 fs-5">
                    We will care about your pet/s in our nursery!
                </div>
                <div class="my-4 fs-5">
                    To select the dates, price and details please login or register.
                </div>

                <div class="m-2">
                    Already have an account? 
                    <a href="{% url 'login' %}" class="ms-2">Log In here.</a>
                </div>

                <div class="m-2">
                    Don't have an account?  
                    <a href="{% url 'register' %}" class="ms-2">Register here.</a>
                </div>
            </div>

        {% endif %}
    </div>

{% endblock %}